
<div class="panel panel-default backgroud-transparent" style="border: 0px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
                <div id="mainselection">
                    <select class="btn-primary btn-lg">
                    <option>Bangalore</option>
                    <option>Delhi</option>
                    <option>Mumbai</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-8">
                <input type="text" class="search-box-input" name="search" placeholder="Engter the area here to searching yout ideal ISP..">
                <button class="btn btn-primary btn-lg">Search</button>
            </div>
            <div class="col-sm-2" style="text-align: right;">
                <button class="btn btn-primary btn-lg">Write Review</button>
            </div>
        </div>
    </div>
</div>