
<div id="searchDiv" class="panel panel-default" style="border: 0px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
                <div id="mainselection">
                    <select class="btn-primary btn-lg">
                    <option>Bangalore</option>
                    <option>Delhi</option>
                    <option>Mumbai</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-8">
                <input type="text" class="search-box-input" name="search" placeholder="Engter the area here to searching yout ideal ISP..">
                <button class="btn btn-primary btn-lg">Search</button>
            </div>
            <div class="col-sm-2" style="text-align: right;">
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addReviewModal">Write Review</button>
            </div>
        </div>
    </div>
</div>

<div id="addReviewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Write a Review</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" data-bind="visible: !IsValid()">
              <span class="error-message">Note: Please fill all mendatory fields before submitting your review.</span>
          </div>
          <div id="validation-error" style="visibility: hidden">
            <span class="error-message" id="validation-error-span"></span>
          </div>
          <div class="row">
              <div class="col-sm-6">
                    <label for="r-title">Service Provider Name:</label>
                    <input type="text" class="form-control" id="r-title" data-bind="value : ServiceProvider, valueUpdate: 'afterkeydown'" placeholder="Enter the name of the service provider"/>
              </div>
              <div class="col-sm-6">
                    <label for="r-rating">Rating:</label>
                    <!-- <div>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>                     -->
                    <input type="number" class="form-control" id="r-rating" min="1" max="5" data-bind="value : Rating" placeholder="Rating should be between 1 and 5"/>
              </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-6">
                <label for="r-city">City:</label>
                <input type="text" class="form-control" id="r-city" data-bind="value : City" placeholder="Enter name of your city">
            </div>
            <div class="col-sm-6">
                <label for="r-area">Area:</label>
                <input type="text" class="form-control" id="r-area" data-bind="value : Area" placeholder="Enter name of your area">
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-6">
                <label for="">If I recommend this service provider:</label><br/>
                <input type="radio" name="recommend" value=true data-bind="value : IsRecommended" checked="true"/>
                <label for="yes">Yes</label>
                <input type="radio" name="recommend" value=false data-bind="value : IsRecommended"/>
                <label for="no">No</label>
            </div>
            <div class="col-sm-6">
                <label for="">If this is my current service provider:</label><br/>
                <input type="radio" name="current" value=true data-bind="value : IsCurrent" checked="true"/>
                <label for="yes">Yes</label>
                <input type="radio" name="current" value=false data-bind="value : IsCurrent"/>
                <label for="no">No</label>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-6">
                <label for="r-upload">Average Upload Speed:</label>
                <input type="number" class="form-control" id="r-upload" min="0" data-bind="value : AvgUploadSpeed" placeholder="Upload speed of your internet service"/>
            </div>
            <div class="col-sm-6">
                <label for="r-download">Average download Speed:</label>
                <input type="number" class="form-control" id="r-download" min="0" data-bind="value : AvgDownloadSpeed" placeholder="Download speed of your internet service">
            </div>
          </div>
          <br/>
          <div class="row">
              <div class="col-sm-8">
                <label for="r-mail">Email:</label>
                <input type="email" class="form-control" id="r-mail" data-bind="value : Email" placeholder="Your e-mail address">
              </div>
          </div>
          <br/>
          <div class="row">
              <div class="col-sm-12">
                <label for="pwd">Review Description:</label>
                <textarea rows="3" class="form-control" data-bind="value : Description" placeholder="Write your review"></textarea>
              </div>
          </div>
          <br/>
          <button class="btn btn-primary" data-bind="click : SaveReview, enable: IsValid()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>