<div style="display: inline;">
    <span class="glyphicon glyphicon-menu-down rating-down" data-bind="visible: IsInCreateMode, click: RatingDown"></span>
    <span class="rating-block">
        <span data-bind="text: Rating" id="rating"></span>
        <span class="glyphicon glyphicon-star star-color"></span>
    </span>
    <span class="glyphicon glyphicon-menu-up rating-up" data-bind="visible: IsInCreateMode, click: RatingUp"></span>
</div>