
<%- include partials/header.ejs %>
    <main>
        <h1>This page is coming up very soon!!</h1>
        <h2>Team Working:</h2>
        <ul>
            <li>Raghavendra</li>
            <li>Soubhagya</li>
            <li>Haider</li>
            <li>Anshuman</li>
        </ul>
    </main>
<%- include partials/footer.ejs %>