
<%- include partials/header.ejs %>
    <main>
        <br/>
        <div class="panel panel-default panel-search-margin">
            <div class="panel-body">Search will come here!!</div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default" style="height: 300px">
                    <div class="panel-heading">Recent Reviews</div>
                    <div class="panel-body">Recent reviews will show here</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default" style="height: 300px">
                    <div class="panel-heading">Top rated ISPs</div>
                    <div class="panel-body">Top rated isps will show here</div>
                </div>
            </div>
        </div>
    </main>
<%- include partials/footer.ejs %>