body {
  padding: 50px;
  /* background-color: #222 !important; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  white-space: nowrap;
  /* background-image: url("/images/image1.jpg"); */
}

img {
  max-width:70%;
  max-height:70%;
}
.image-not-available{
  max-width: 100%; /*width of your image*/
  max-height: 100%; /*height of your image*/
  background-image: url('/images/image-not-available.png');
}

.btn-primary{
  background: #ff5a5f !important;
  border: 1px solid #ff5a5f !important;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"]{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

}

#searchDiv{
  /* background-image: url("/images/image1.jpg"); */
  /* background: -moz-linear-gradient(270deg, rgba(107,107,107,1) 0%, rgba(107,107,107,1) 5%, rgba(0,0,0,1) 70%); ff3.6+ */
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(107,107,107,1)), color-stop(5%, rgba(107,107,107,1)), color-stop(70%, rgba(0,0,0,1))); safari4+,chrome */
  /* background: -webkit-linear-gradient(270deg, rgba(107,107,107,1) 0%, rgba(107,107,107,1) 5%, rgba(0,0,0,1) 70%); safari5.1+,chrome10+ */
  /* background: -o-linear-gradient(270deg, rgba(107,107,107,1) 0%, rgba(107,107,107,1) 5%, rgba(0,0,0,1) 70%); opera 11.10+ */
  /* background: -ms-linear-gradient(270deg, rgba(107,107,107,1) 0%, rgba(107,107,107,1) 5%, rgba(0,0,0,1) 70%); ie10+ */
  /* background: linear-gradient(180deg, rgba(107,107,107,1) 0%, rgba(107,107,107,1) 5%, rgba(0,0,0,1) 70%); w3c */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6B6B6B', endColorstr='#000000',GradientType=0 ); ie6-9 */
}

a {
  color: #00B7FF;
}

input[type=radio]{
  height: 15px;
  width: 15px;
}

main{
  padding: 10px;
  border-radius: 4px;
  min-height: 500px;
  z-index: 1000;
}

strong{
  color: black !important;
}

.glyphicon-star{
  color: olivedrab;
}

.error-message{
  color: red;
}

.panel:hover{
  box-shadow: 10px white !important;
}
/*location Dropdown */
#mainselection {
  background: url("arrow.gif") no-repeat;
}




.backgroud-transparent{
  background-color: transparent;
}

.navbar{
  margin-top: -40px;
  /* border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important; */
  z-index: 1000;
}

.right-align{
  text-align: right;
  margin-top: -40px;
}

/*Seach box styles*/
.search-box-input {
  margin-left: -15px;
  width: 500px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('http://i47.tinypic.com/r02vbq.png');
  background-position: -13px -12px; 
  background-repeat: no-repeat;
  padding: 9.5px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-box-input:focus {
  width: 88%;
}

/* Review Display Widget*/
.review-display-widget{
  background: #FFE9DD;
  /* padding: 15px;
  transition-duration: all 1s ease;
  color: #660000; */
  margin: 5px;
  border-radius: 4px;
  padding: 10px;
}
.review-display-widget:hover{
  box-shadow: 0px 0px 5px 0px #8e9baf; 
  /* background: #a9bbd8; */
  background: #FFF5F0;
  text-decoration: none;
  /* padding: 16px; */
}

.review-display-reviewer{
  color: #1f9d6d;
  display: inline-block;
  width: 35%;
  white-space: nowrap;
}

.review-display-review{
  color: #660000;
  margin-top: 3px;
  margin-bottom: 3px;
  white-space: nowrap;
}

/*Modal styles*/
.modal-header {
  color: #fff;
  background-color: #337ab7 !important;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}